<div class="container">
  <button class="btn btn-primary m-2" routerLink='bar'>Bar-Chart</button>
  <button class="btn btn-primary m-2" routerLink='doughnut'>Dobghnut-Chart</button>
  <button class="btn btn-primary m-2" routerLink='horizantal'>Horizantal-Bar-Chart</button>
  <button class="btn btn-primary m-2" routerLink='line'>Line-Chart</button>
  <button class="btn btn-primary m-2" routerLink='pie'>Pie-Chart</button>
  <button class="btn btn-primary m-2" routerLink='polar-area'>Pollar-Area-Chart</button>
  <button class="btn btn-primary m-2" routerLink='redar'>Radar-Chart</button>
  <button class="btn btn-primary m-2" routerLink='stacked'>Stacked-Chart</button>
</div>
<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>





